<a href="https://colab.research.google.com/github/iwasiu/AADpracticeProject/blob/master/Exercise_1_Basic_Pythons.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![](../docs/banner.png)

# Python Basics

## Exercises

### 1.

What is 5 to the power of 5?

In [3]:
# Your answer here.
number = 5
print("The power of",number,"to the power of 5 is:",number**5)

The power of 5 to the power of 5 is: 3125

### 2.

What is the remainder from dividing 73 by 6?

In [5]:
# Your answer here.
numerator = 73
denominator = 6
remainder = numerator % denominator
print("The remainder dividing 73 by 6 is:",remainder)

The remainder dividing 73 by 6 is: 1

### 3.

How many times does the whole number 3 go into 123? What is the remainder of dividing 123 by 3?

In [7]:
# Your answer here.
numerator = 123
denominator = 3

quotient = numerator // denominator
remainder = numerator % denominator
print("The whole number 3 go into 123:",quotient,"times")
print("The remainder of dividing 123 by 3:",remainder)

The whole number 3 go into 123: 41 times
The remainder of dividing 123 by 3: 0

### 4.

Split the following string into a list by splitting on the space character:

In [10]:
s = "MDS is going virtual!"

# Your answer here.
s_split_into_list = list(s.split(" "))
print(s_split_into_list)

['MDS', 'is', 'going', 'virtual!']

### 5.

Given the following variables:

```
thing = "light"
speed = 299792458  # m/s
```

Use f-strings to print:

```
The speed of light is 2.997925e+08 m/s.
```

In [12]:
# Your answer here.
thing = "light"
speed = 299792458  # m/s
f"The speed of {thing} is {speed} m/s."

'The speed of light is 299792458 m/s.'

### 6.

Given this nested list, use indexing to grab the word "MDS":

In [17]:
l = [10, [3, 4], [5, [100, 200, ["MDS"]], 23, 11], 1, 7]
# Get the index number position of the list elements
# for pos,ele in enumerate(l) :
#   print(pos, ele)

# grab 'MDS' using indexing
index_MDS = l[2][1][2]
print("index of MDS:",index_MDS)
# Your answer here.

index of MDS: ['MDS']

### 7.

Given this nest dictionary grab the word "MDS":

In [67]:
d = {
    "outer": [
        1,
        2,
        3,
        {"inner": ["this", "is", "inception", {"inner_inner": [1, 2, 3, "MDS"]}]},
    ]
}

# Your answer here.
# get the keys
# for key in d.keys():
#   print(key)

inner_dict = {}
inner_list = []
for outer_value in d.values():
  inner_dict = outer_value[3].copy()
  # print(outer_value[3])
  # print("copied dict",inner_dict)

# loop through the copied dict
for inner_value in inner_dict.values():
  inner_list = inner_value.copy()
  # print(inner_value)
  # print("New list",inner_list)

# print(inner_list[3]) # get the fouth element of the list

last_dict = []   # create empty dict
last_dict = inner_list[3].copy()
# print("Last dict",last_dict)

last_list = []  # create empty list
for last_dict_value in last_dict.values():
  last_list = last_dict_value.copy()
  # print(last_dict_value)
  # print("Last list",last_list)

# print 'MDS'
print(last_list[3])

MDS

### 8.

Why does the following cell return an error?

In [71]:
t = (1, 2, 3, 4, 5)
t[-1] = 6

# THe cell returned an error because Tuple is immutable ~ cannot be modified except you want to define 
# new tuple with same name of different elements

TypeError: ignored

### 9.

Use string methods to extract the website domain from an email, e.g., from the string `"tomas.beuzen@fakemail.com"`, you should extract `"fakemail"`.

In [81]:
email = "tomas.beuzen@fakemail.com"

# Your answer here.

# split up string 'email' into list 
email_split = email.split("@")
print(email_split)

# get the second element in the list
email_domain = email_split[1]

# print 'fakemail' only
print(email_domain[:-4])

['tomas.beuzen', 'fakemail.com']
fakemail

### 10.

Given the variable `language` which contains a string, use `if/elif/else` to write a program that:
- return "I love snakes!" if `language` is `"python"` (any kind of capitalization)
- return "Are you a pirate?" if `language` is `"R"` (any kind of capitalization)
- else return "What is `language`?" if `language` is anything else.

In [98]:
language = "sd"
# Your answer here.

if  language == "python":
  print("I love snakes")
elif language == "r":
  print("Are you a pirate")
else:
  print("What is language")

What is language

<hr>
<hr>
<hr>